<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light nav-bar bg-color">

   <!-- brand -->
   <a class="navbar-brand" href="">#Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  
  <!-- Dropdown / Navbar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" (click)="selectedFragment(menu, $event)" *ngFor="let menu of MENU" >
        <a class="nav-link" id="menu-{{menu.name}}">{{menu.name}}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<!-- This is page content -->

<div id="page-content" class="container col-12 float-left">
  <div class="row menu-row">
    <ul class="list-group col-md-3 col-lg-2 col-xl-2 menu d-none d-lg-block" id="menu-list">
        <li class="list-group-item list-group-item-action menu-list menu-item" id="list-{{menu.name}}" *ngFor="let menu of MENU" (click)="selectedFragment(menu, $event)">{{menu.name}}</li>
    </ul>

    <div id="main-view" class="col-sm-12 col-md-9 col-lg-9 col-xl-9">  
        <router-outlet class="main-view"></router-outlet>
    </div>
  </div>
</div>




