
/* META STUFF */

:root {
    --main-bg-color: #fff;
    --main-active-color: #00ff00;
}

nav.nav-bar{
    box-shadow: -2px 5px 17px -7px rgba(0,0,0,0.52);
}

div#menu-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

li.menu-item {
    border-radius: 0;
    border: none;
    transition: cubic-bezier(.17,.84,.44,1);
}

li.menu-item:active{

}


/* Navbar */
div#navbarSupportedContent{

    background: var(--main-bg-color);
    z-index: 10;
    
}

.navbar-collapse .collapse .show{
    background: #fff;
    z-index: 5;
}


/* MENU */
ul.menu{
    box-shadow: 18px 2px 7px -15px rgba(0,0,0,0.52);
}

div.menu-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.138);
}


div#main-view{
    vertical-align: top;
    display: inline-block;
}



div#main-view{
    padding-top: 1em;
}

div.menu-row{
    height: inherit;
}

ul.menu{
    display: inline-block;
}


ul#menu-list{
    padding: 1em 0 1em 0;
}

div#page-content {
    height: calc(100vh - 56px);
}

li.menu-list:hover{
    cursor: pointer;
}

@keyframes shine-in {
    0% {margin-top: 0.3em};
    100% {margin-top: 1em;}
}